#map_canvas
{
    width: auto;
    height: 70%;
    margin: 10px auto;
}
 
div#latlng-control
{
    background: #ffc;
    border: 1px solid #676767;
    padding: 2px 4px;
    position: absolute;
}
 
.line
{
    padding: 3px;
}